*
*.swp
!workflow/*
!workflow/Snakefile
!workflow/
!workflow/scripts/
!workflow/scripts/*
workflow/scripts/.snakemake*
!config.yaml
!samples.csv
!environment.txt
!LICENSE.md
!README.md
!workflow/rules
!workflow/rules/*
!.gitignore
